# Intensivao de Python - Aula4

In [33]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [34]:
navegador = webdriver.Chrome()
#navegador.get('https://www.hashtagtreinamentos.com/category/python')

In [35]:
#copy XPath
navegador.get('https://www.google.com/')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotacao dolar')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

4.914499999999999

In [36]:
navegador.get('https://www.google.com/')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotacao euro')
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

5.869436495

In [37]:
navegador.get('https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20280%2C60.')
cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',', '.')
print(cotacao_ouro)

280.47

In [38]:
import pandas as pd

In [39]:
df = pd.read_excel(r'Produtos.xlsx')
df.head()

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.9,34200.000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Produtos             7 non-null      object
 1   Preço Base Original  7 non-null      float64
 2   Moeda                7 non-null      object
 3   Cotação              7 non-null      int64
 4   Preço Base Reais     7 non-null      float64
 5   Margem               7 non-null      float64
 6   Preço Final          7 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 520.0+ bytes

In [41]:
df.loc[df['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
df.loc[df['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
df.loc[df['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)
df.head(10)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.914500,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.869436,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,4.914500,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,4.914500,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.869436,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,4.914500,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,280.470000,7000.00,1.15,8050.000

In [42]:
df['Preço Base Reais'] = df['Preço Base Original'] * df['Cotação']
df['Preço Final'] = df['Preço Base Reais'] * df['Margem']
df

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,4.914500,4914.450855,1.40,6880.231197
1,Carro Renault,4500.00,Euro,5.869436,26412.464228,2.00,52824.928455
2,Notebook Dell,899.99,Dólar,4.914500,4423.000855,1.70,7519.101453
3,IPhone,799.00,Dólar,4.914500,3926.685500,1.70,6675.365350
4,Carro Fiat,3000.00,Euro,5.869436,17608.309485,1.90,33455.788022
5,Celular Xiaomi,480.48,Dólar,4.914500,2361.318960,2.00,4722.637920
6,Joia 20g,20.00,Ouro,280.470000,5609.400000,1.15,6450.810000

In [44]:
df.to_excel('Produto_atualizado.xlsx', index=False)