# HashtagTrainamentos  - Datas Personalizadas no Power BI - Mês, Bimestre, Semestre

https://www.youtube.com/watch?v=3YZ_awh57dY

In [1]:
#import libs
import pandas as pd

In [7]:
#!pip install xlrd
#!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Using legacy 'setup.py install' for et-xmlfile, since package 'wheel' is not installed.
Installing collected packages: et-xmlfile, openpyxl
    Running setup.py install for et-xmlfile: started
    Running setup.py install for et-xmlfile: finished with status 'done'
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [8]:
df = pd.read_excel('Base Vendas.xlsx')

df.head()

,SKU,Qtd Vendida,Loja,Data da Venda,Preco Unitario,Faturamento,Produto
0,HL1018,5,Porto Alegre,2016-01-01,1200,6000,Smart Watch
1,HL1001,2,Fortaleza,2016-01-01,2600,5200,Televisão
2,HL1008,1,Rio de Janeiro,2016-01-01,2000,2000,Televisão
3,HL1021,1,Recife,2016-01-01,3000,3000,Celular
4,HL1008,5,Salvador,2016-01-01,2000,10000,Televisão

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23794 entries, 0 to 23793
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SKU             23794 non-null  object
 1   Qtd Vendida     23794 non-null  int64
 2   Loja            23794 non-null  object
 3   Data da Venda   23794 non-null  datetime64[ns]
 4   Preco Unitario  23794 non-null  int64
 5   Faturamento     23794 non-null  int64
 6   Produto         23794 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 1.3+ MB